@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex-direction($direction) {
  flex-direction: $direction;
  -ms-flex-direction: $direction;
  -webkit-flex-direction: $direction;
}

@media (min-width: 946px) and (max-width: 1120px), (min-device-width: 946px) and (max-device-width: 1120px)  {


  main {
    margin: 0 auto;
    width: 922px;
    border-right: none;
  }

  #right {
    width: 380px;
    border-right: 1px solid #dfdfdf;
    overflow: hidden;
    .left-sections {
      width: 340px;
    }

    .arrow-slider {
      width: 360px;
      overflow: hidden;
    }

    & > section:last-child {
      @include flex-direction(column);
    }
  }

  #separator {
    width: 922px;
    margin: 20px auto;
    margin-left: calc((100vw - 922px)/2);
  }

  .post-xl img {
    @include size(340px, 340px);
  }

  select {
    display: block;
    margin-right: calc((100vw - 922px)/2);
  }

  .video {
    display: flex;
    flex-direction: column;
  }

  footer {
    padding: 10px calc((100vw - 922px)/2);
  }
}

@media (max-device-width: 945px), (max-width: 945px){
  header ul li:not(#menu-button) {
    display: none;
  }

  select {
    display: block;
    margin-right: calc((100vw - 560px)/2);
  }

  #dropdown {
    display: flex;
  }

  #menu-button {
    display: block;
  }

  aside {
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
  }

  #ads {
    margin: 0 auto;
  }

  #logo {
    margin: 0 auto 16px auto;
  }

  #separator {
    width: 561px;
    margin: 20px auto;
  }

  #left {
    width: 560px;
  }
}

@media (min-width: 591px) and (max-width: 945px), (min-device-width: 590px) and (max-device-width: 945px) {
  main {
    @include flex-direction(column);
    width: 561px;
    margin: 0 auto;
    border-right: 1px solid #e0e0e0;

    & > section {
      border-right: none !important;
    }
  }

  select {
    display: block;
  }
  footer {
    padding: 10px calc((100vw - 561px)/2);
  }
}

@media (max-width: 590px), (max-device-width: 590px) {
  main {
    width: 420px;
    margin: 0 auto;
    padding-bottom: 25px;
  }

  .dot-slider {
    width: 380px;
    height: 380px;
  }

  .dot-slider {
    p:last-child {
      display: none;
    }
    section {
      width: 100%;
      margin: 0;
      top: -78px;

      h2 {
        font-size: 19px;
      }
    }

    img {
      width: 380px !important;
      height: 380px !important;
      object-fit: cover;
    }
  }

  footer {
    padding: 10px calc((100vw - 420px)/2);
  }

  #left, #right {
    width: 420px;
    overflow: hidden;

    & > section:nth-of-type(n + 2) {
      @include flex-direction(column);
    }
    .d-flex {
      @include flex-direction(column);
    }
  }

  .arrow-slider .post-m {
    margin-right: 10px;
  }

  .right-sections {
    padding-left: 0;
  }

  .left-sections {
    width: 380px;
  }

  .arrow-slider {
    width: 380px;
  }

  .post-m {
    img {
      @include size(120px, 120px);
    }
  }

  .post-l {
    width: 100%;
    margin: 0;
  }

  time {
    font-size: 12px;
  }

  #separator {
    width: 420px;
  }

  .post-l img {
    @include size(379px, 352px);
  }

  #right .post-s img {
    @include size(80px, 80px);
  }

  #left .post-s article:first-child {
    height: 145px;
  }

  h3 {
    margin-top: 24px !important;
  }

  .post-xl {
    width: 380px;
    img {
      @include size(380px, 380px);
    }
  }

  select {
    display: block;
    margin-right: calc((100vw - 420px)/2);
  }

  .video {
    height: 435px;
    display: flex;
    flex-direction: column;
    img {
      @include size(380px ,350px);
    }
    .play-button {
      bottom: 330px;
    }
  }
}

@media (min-device-width: 488px) and (max-device-width: 945px), (min-width: 488px) and (max-width: 945px){
  #ads {
    @include size(420px, 52px);
  }
}

@media (max-device-width: 487px), (max-width: 487px) {
  #ads {
    @include size(283px, 32px);
  }
}

@media (max-device-width: 428px), (max-width: 428px) {
  .dot-slider, .dot-slider img, .post-l img, .post-xl img {
    width: 280px !important;
    height: 280px !important;
  }

  .left-sections {
    width: 280px;
    margin-right: 0;
  }

  aside {
    margin: 25px 0 15px;
  }

  #left, right, main, #separator {
    width: 320px;
    border-right: none;
    border-left: none;
  }
  select {
    display: block;
    margin-right: calc((100vw - 320px)/2);
  }

  .arrow-slider {
    width: 280px;
    .post-m {
      margin-right: 20px;

      img {
        width: 130px;
        height: 130px;
      }
    }
  }

  .post-xl, .video, .video img {
    width: 280px !important;
  }

  .video {
    height: 390px;
    img {
      height: 280px;
    }
    .play-button {
      bottom: 260px;
    }
  }
  footer {
    padding: 10px calc((100vw - 922px)/2);
  }
}

@media (max-width: 1210px), (max-device-width: 1210px) {
  #loginForm {
    p {
      background-color: #008e96 !important;
    }
    span {
      color: white;
    }
    h1 {
      font-size: 20px;
    }
    input {
      width: 100% !important;
    }
  }
}

@media (max-device-width: 630px), (max-width: 630px) {
  #loginForm {
    p:last-of-type {
      display: flex;
      @include flex-direction(column);
      font-size: 16px !important;
    }

    button {
      width: 160px !important;
      padding: 5px;
    }

    h1 {
      font-size: 18px;
      width: 80% !important;
    }

    input {
      height: 1.5em !important;
      font-size: 1.5em !important;
    }

    label {
      font-size: 14px !important;
    }

    button {
      width: 100px;
      padding: 2px !important;
      font-size: 20px !important;
    }
  }
}